@model ProjetoInicial.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Salvar", "Contact", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td>@Html.LabelFor(model => model.Id)</td>
            <td>@Html.HiddenFor(model => model.Id) @Html.DisplayTextFor(model => model.Id)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Type)</td>
            <td>@Html.TextBoxFor(model => model.Type, new { maxlength = 15 }) @Html.ValidationMessageFor(model => model.Type)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Contact)</td>
            <td>@Html.TextBoxFor(model => model.Contact) @Html.ValidationMessageFor(model => model.Contact)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Salvar"/></td>
        </tr>
    </table>
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}